* {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 5px;
}

header {
  background-color: rgb(162, 162, 230);
  text-align: center;
  height: 75px;
}
#searchText {
  width: 100%;
  padding: 10px;
}
.search {
  padding: 5px;
  margin: 5px;
}

.divider {
  border-bottom: 3px solid black;
  margin-top: 10px;
  width: 100%;
}

button {
  display: block;
  width: 100%;
}

#searchHistory {
  margin-top: 10px;
}

.cityInput,
#searchHistory button {
  margin-top: 10px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 10px;
}

.fiveDayForecast {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.fiveDayForecast div {
  margin: 10px;
  background-color: rgb(24, 4, 99);
  padding: 10px;
}

#fiveDayTitle {
  display: none;
  text-indent: 40px;
}

.fiveDayForecast h1,
.fiveDayForecast p {
  color: white;
}
